<%- include('partials/head');  %> 

<body>

    <%- include('partials/header'); %> 
    
    <%- include('partials/sidebar'); %> 

    <!---- CONTENT CONTAINER ---->
    <section class="content-body">
        <div class="container-lg mx-auto mb-5">
            <!---- DISPLAY TABLE ---->
            <span class="display-text">Warehouse</span>
        
            <!---- NAVIGATION TABS ---->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page" id="pm-brg">Pemasukan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/pengeluaran" class="nav-link" aria-current="page" id="pg-brg">Pengeluaran Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/penarikan" class="nav-link" aria-current="page" id="pnk-brg">Penarikan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/histori" class="nav-link active" aria-current="page" id="hst-brg">Histori Barang</a>
                </li>
            </ul>
            
            <!---- CONTAINER CONTENT FROM TAB ---->
            <div class="container bg-light p-3">
                <h1 class="display-4">FUCK YOU</h1>
            </div>

        </div>
    </section>

    <!--- Footer --->
    <footer>
        <div class="footer">© 2022. PT. Aura Cantik. Created By Muhammad Farhan Tri Budiman</div>
    </footer>
</body>
</html>