<%- include('partials/head');  %> 

<body>

    <%- include('partials/header'); %> 
    
    <%- include('partials/sidebar'); %> 

    <!---- CONTENT CONTAINER ---->
    <section class="content-body">
        <div class="container-lg mx-auto mb-5">
            <!---- DISPLAY TABLE ---->
            <span class="display-text">Warehouse</span>
        
            <!---- NAVIGATION TABS ---->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page" id="pm-brg">Pemasukan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/pengeluaran" class="nav-link" aria-current="page" id="pg-brg">Pengeluaran Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/penarikan" class="nav-link" aria-current="page" id="pnk-brg">Penarikan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/histori" class="nav-link active" aria-current="page" id="hst-brg">Histori Barang</a>
                </li>
            </ul>
            
            <!---- CONTAINER CONTENT FROM TAB ---->
            <div class="container bg-light p-3">
                <div class="histori-box bg-light p-2 border">
                    <!---- DATE FILTER ---->
                    <form action="" method="post" class="d-flex justify-content-end align-items-center border">
                        <label for="search-date" class="me-2">
                            Search Date:
                        </label>
                        <input type="date" id="search-date" name="search-date">
                        <button type="submit" class="btn btn-dark mx-2">Search</button>
                    </form>
                    <!---- HISTORI LIST ---->
                    <ul class="histori-list overflow-auto d-block mt-4 mb-2 border">
                        <!---- LAMPIRAN ITEM ---->
                        <li class="d-block">
                            <div class="pemasukan-header d-flex justify-content-between p-2">
                                <div class="btn btn-warning">
                                    <span style="color: rgb(85, 80, 6);">
                                        <strong>Pemasukan</strong>
                                    </span>
                                </div>
                                <span class="d-block" style="color: white;">
                                    <strong>Waktu Penerimaan: 05/08/2021</strong>
                                </span>
                            </div>
                            <div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <!--- Footer --->
    <footer>
        <div class="footer">© 2022. PT. Aura Cantik. Created By Muhammad Farhan Tri Budiman</div>
    </footer>
</body>
</html>