<%- include('partials/head');  %> 

<body>

    <%- include('partials/header'); %> 
    
    <%- include('partials/sidebar'); %> 

    <!---- CONTENT CONTAINER ---->
    <section class="content-body">
        <div class="container-lg mx-auto mb-5">
            <!---- DISPLAY TABLE ---->
            <span class="display-text">Warehouse</span>
        
            <!---- NAVIGATION TABS ---->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page" id="pm-brg">Pemasukan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="/pengeluaran_barang" class="nav-link active" aria-current="page" id="pg-brg">Pengeluaran Barang</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page" id="pnk-brg">Penarikan Barang</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page" id="hst-brg">Histori Barang</a>
                </li>
            </ul>

            <!---- CONTAINER CONTENT FROM TAB ---->
            <div class="container-md bg-light p-2">

                <!---- FILTER & KERANJANG CONTAINER ---->
                <div class="container-lg" aria-label="filter-keranjang-container">

                    <div class="row">
                        <!---- FORM FILTER ---->
                        <div class="col-3 p-3">
                            <form action="">
                                <!---- TEXT EXPLAIN ---->
                                <p style="font-weight: bold;">Filter untuk Lampiran PPB-TBB</p>
                                <p>Masukkan filter untuk menyaring barang mana yang akan dikirim hingga barang itu diubah di keranjang barang.</p>
                                <!----- F.L. TGL PEMASUKAN FILTER ----->
                                <label for="tgl_pemasukan_filter" class="form-label">Tgl. Pemasukan</label>
                                <input type="text" class="form-control" id="tgl_pemasukan_filter">
                                <!----- F.L. JENIS DOKUMEN ----->
                                <label for="jenis_dokumen_bc" class="form-label">Jenis Dokumen BC</label>
                                <input type="text" class="form-control" id="jenis_dokumen_bc" value="BC 2.3">
                                <!----- F.L. NO. DOKUMEN BC ----->
                                <label for="no_dokumen_bc" class="form-label">Nomor  Dokumen BC</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="no_dokumen_bc" placeholder="Min...">
                                    <span class="input-group-text"> - 
                                    </span>
                                    <input type="text" class="form-control" id="no_dokumen_bc" placeholder="Max...">
                                </div>
                                <!----- F.L. MEREK BARANG ----->
                                <label for="merek_barang" class="form-label">Merek Barang</label>
                                <input type="text" class="form-control" id="merek_barang">
                                <!----- F.L. JENIS BARANG ----->
                                <label for="jenis_barang" class="form-label">Jenis Barang</label>
                                <select name="jenis-barang" id="jenis_barang" class="form-select">
                                    <option selected>-- PILIH --</option>
                                    <option value="1">Kosmetik</option>
                                    <option value="2">Perhiasan</option>
                                    <option value="3">Jam Tangan</option>
                                    <option value="4">Fashion</option>
                                </select>
                                <!----- FILTER & STORE QUERY BUTTON----->
                                <button class="btn btn-primary mt-3" id="filter-btn">
                                    <strong>Filter Tabel Keranjang</strong>
                                </button>
                                <p id="filter-form-error-display">Filter tabel keranjang harus diisi semua!</p>
                            </form>
                        </div>
                        <!---- TABLE KERANJANG BARANG MASUK ---->
                        <div class="col-7 p-3">
                            <!---- TITLE CONTAINER ---->
                            <div class="container-lg mb-3">
                                <p><strong>Keranjang Barang Masuk</strong><br/>
                                Tabel yang berisi barang diambil dari gudang barang masuk
                                </p>
                            </div>
                            <!---- TABLE KERANJANG CONTAINER---->
                            <div class="overflow-scroll table-container-size-pgl border ms-4">
                                <table class="table table-bordered border table-hover table-custom-pgl">
                                    <thead class="table-secondary">
                                        <tr>
                                            <!---- CHECKBOX ALL -->
                                            <th scope="col"><input type="checkbox" name="select-all-items"id="select-all-items"></th>
                                            <!-------------------->
                                            <th scope="col" class="th-deskripsi-brg">Deskripsi Barang</th>
                                            <th scope="col">Tgl. Pemasukan</th>
                                            <th scope="col">Jenis Barang</th>
                                            <th scope="col">Merek Barang</th>
                                            <th scope="col">No. Dokumen BC</th>
                                            <th scope="col">Barcode Barang (No. Reff)</th>
                                            <th scope="col">Harga Per Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="select-item" id="select-item"></td>
                                            <td class="">Produk Kosmetik Master</td>
                                            <td class="">21/06/2022</td>
                                            <td class="">Kosmetik</td>
                                            <td class="">Master</td>
                                            <td class="">000000</td>
                                            <td class="">76543210</td>
                                            <td class="">69.50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bg-warning p-2 ms-4" style="width: 770px;">
                                <button type="button" class="btn btn-danger" id="delete-items-btn">
                                    <strong>Hapus Barang (x)</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!----- FILTER CHECKER CONTAINER ----->
                <div class="container-lg mx-3" aria-label="check-before">
                    <p style="text-align: center;">Check filterisasi & tambahkan data dari keranjang yang di-filter akan divalidasi ke lampiran</p>
                    <div class="d-flex justify-content-center my-2">
                        <div id="filter-check">Filter Form: Not Ok</div>
                        <div id="keranjang-check">Keranjang Selection: Not Ok</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info p-1" id="check-add-lampiran">
                            <strong>Check & Tambah Lampiran</strong>
                        </button>
                    </div>
                </div>

                <!----- LAMPIRAN CONTAINER ------>
                <div class="container-lg mt-2">
                    <h2>Daftar Lampiran</h2>

                    <!---- LIST LAMPIRAN & INPUT LAPORAN CONTAINER ---->
                    <div class="container-lg">
                        <div class="row">
                            <!---- DAFTAR LAMPIRAN ---->
                            <div class="col-lg-8">
                                <div class="kotak-lampiran overflow-auto" aria-label="daftar-lampiran">
                                    <!---- LAMPIRAN ITEM ---->
                                    <div class="lampiran-item border border-dark mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!---- LAMPIRAN INFO DISPLAY ---->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!---- TABEL 3 ATRIBUT BARANG ---->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>7611773097710</td>
                                                    <td>LAP Supreme Balm Cleaner</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!---- LAMPIRAN ITEM ---->
                                    <div class="lampiran-item border border-dark mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h5 id="lampiran-number">Lampiran Ke: 1</h5>
                                            <button id="remove-btn">
                                                <span class="icon-close-svgrepo-com"></span>
                                            </button>
                                        </div>
                                        <!---- LAMPIRAN INFO DISPLAY ---->
                                        <div class="row p-2">
                                            <div class="col border">
                                                <p id="tgl-pemasukan-lampiran">Tgl. Dokumen Masuk: 23-Feb-2020</p>
                                                <p id="jenis-dokumen-lampiran">Jenis Dokumen BC: BC 2.3</p>
                                                <p id="jenis-barang-lampiran">Jenis Barang: Kosmetik</p>
                                            </div>
                                            <div class="col border">
                                                <p id="no-dokumen-bc-lampiran">Nomor Dokumen BC: 000942-001020</p>
                                                <p id="merek-barang-lampiran">Merek Barang: La Praire</p>
                                            </div>
                                        </div>
                                        <!---- TABEL 3 ATRIBUT BARANG ---->
                                        <table class="table table-bordered table-light">
                                            <thead class="table-info">
                                                <th scope="col">Kode Barang (Reff)</th>
                                                <th scope="col">Deskripsi Barang</th>
                                                <th scope="col">Qty</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>7611773097710</td>
                                                    <td>LAP Supreme Balm Cleaner</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <p id="tagnames_index"><strong>Index: Kosmetik La Praire DF6</strong></p>
                                                <p id="tagnames_dokumen"><strong>Dokumen Pemasukan: BC 2.3 000942-001020</strong></p>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <p id="total-item-lampiran">
                                                <strong>Total Barang: 3 Pcs</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <p id="total-all-lampiran"><strong>Total Seluruh: 6 Pcs</strong></p>
                            </div>
    
                            <!---- INPUT TAMBAHAN LAPORAN ---->
                            <div class="col-lg-4">
                                <h4><strong>Input Laporan PPB-TBB</strong></h4>
                                <p id="display-error">Input Wajib diisi semua</p>
                                <div class="container border p-1">
                                    <form>
                                        <!---- R.I. NO. LAPORAN ---->
                                        <div>
                                            <label class="form-label">Nomor Laporan:</label><br>
                                            <input type="radio" class="form-check-input" name="nomor-laporan" id="auto-increment-nomor">
                                            <label for="auto-increment-nomor" class="form-label">Auto-Increment (Penomoran Otomatis)</label>
                                            <input type="radio" class="form-check-input" checked="false" name="nomor-laporan"
                                            value="nomor-manual" id="nomor-manual">
                                            <label for="nomor-manual" class="form-label">Nomor Manual: </label>
                                            <input type="text" class="form-control mt-2" placeholder="Nomor Manual.." id="nomor-manual">
                                        </div>
                                        
                                        <div>
                                            <label class="form-label">Tanggal Laporan:</label><br>
                                            <input type="radio" class="form-check-input" name="tanggal-laporan" id="auto-increment-date">
                                            <label for="auto-increment-date" class="form-label">Auto-Increment (Penanggalan Otomatis)</label>
                                            <input type="radio" class="form-check-input" name="tanggal-laporan"
                                            value="date-manual" id="date-manual">
                                            <label for="date-manual" class="form-label">Tanggal Manual: </label>
                                            <input type="text" class="form-control mt-2" placeholder="Tanggal Manual.." id="date-manual">
                                        </div>

                                        <label for="alamat-penimbunan" class="form-label">Alamat Ruang Penimbunan</label>
                                        <input type="text" id="alamat-penimbunan">
                                        
                                        <label for="alamat-penjualan" class="form-label">Alamat Ruang Penjualan</label>
                                        <input type="text" id="alamat-penjualan">
                                        
                                        <label for="penanggung-jawab" class="form-label">Nama Pg. Jawab TBB</label>
                                        <input type="text" id="penanggung-jawab"><br>
                                        
                                        <label for="jabatan" class="form-label">Jabatan TBB</label><br>
                                        <input type="text" id="jabatan"><br>
                                        
                                        <label for="lokasi-tempat" class="form-label">Lokasi Tempat</label><br>
                                        <select id="lokasi-tempat" class="form-select">
                                            <option selected>-- PILIH --</option>
                                            <option value="DF6">DF6</option>
                                        </select>
                                        <button class="btn btn-info mt-3" type="submit" id="save-lpr-btn"><strong>Save Input Laporan</strong></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <button type="button" class="btn btn-warning my-3"><strong>Check-up & Print PPB-TBB</strong></button>
                </div>
            </div>
        </div>
    </section>

    <!--- Footer --->
    <footer>
        <div class="footer">© 2022. PT. Aura Cantik. Created By Muhammad Farhan Tri Budiman</div>
    </footer>
</body>
</html>